/**
 * @file icon.css
 */

@font-face {
    font-family: "rdc_app-bo";
    src: url("rdc_app-bo.eot"); /* IE9 */
    src: url("rdc_app-bo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("rdc_app-bo.woff2") format("woff2"), /* chrome、firefox、opera、Safari, Android, iOS */
    url("rdc_app-bo.woff") format("woff"), /* chrome、firefox */
    url("rdc_app-bo.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("rdc_app-bo.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "rdc_app-bo" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-uniE800:before {
  content: "\e800";
}

.icon-uniE801:before {
  content: "\e801";
}

.icon-uniE802:before {
  content: "\e802";
}

.icon-uniE803:before {
  content: "\e803";
}

.icon-uniE804:before {
  content: "\e804";
}

.icon-uniE805:before {
  content: "\e805";
}

.icon-uniE806:before {
  content: "\e806";
}

.icon-uniE807:before {
  content: "\e807";
}

.icon-uniE808:before {
  content: "\e808";
}

.icon-uniE809:before {
  content: "\e809";
}

.icon-uniE80A:before {
  content: "\e80a";
}

.icon-uniE80B:before {
  content: "\e80b";
}

.icon-uniE80C:before {
  content: "\e80c";
}

.icon-uniE80D:before {
  content: "\e80d";
}

.icon-uniE80E:before {
  content: "\e80e";
}

.icon-uniE80F:before {
  content: "\e80f";
}

.icon-uniE810:before {
  content: "\e810";
}

.icon-uniE811:before {
  content: "\e811";
}

.icon-uniE812:before {
  content: "\e812";
}

.icon-uniE813:before {
  content: "\e813";
}

.icon-uniE814:before {
  content: "\e814";
}

.icon-uniE815:before {
  content: "\e815";
}

.icon-uniE816:before {
  content: "\e816";
}

.icon-uniE817:before {
  content: "\e817";
}

.icon-uniE818:before {
  content: "\e818";
}

.icon-uniE819:before {
  content: "\e819";
}

.icon-uniE81A:before {
  content: "\e81a";
}

.icon-uniE81B:before {
  content: "\e81b";
}

.icon-uniE81C:before {
  content: "\e81c";
}

.icon-uniE81D:before {
  content: "\e81d";
}

.icon-uniE81E:before {
  content: "\e81e";
}

.icon-uniE81F:before {
  content: "\e81f";
}

.icon-uniE820:before {
  content: "\e820";
}

.icon-uniE821:before {
  content: "\e821";
}

.icon-uniE822:before {
  content: "\e822";
}

.icon-uniE823:before {
  content: "\e823";
}

.icon-uniE824:before {
  content: "\e824";
}

.icon-uniE825:before {
  content: "\e825";
}

.icon-uniE826:before {
  content: "\e826";
}

.icon-uniE827:before {
  content: "\e827";
}

.icon-uniE828:before {
  content: "\e828";
}

.icon-uniE829:before {
  content: "\e829";
}

.icon-uniE82A:before {
  content: "\e82a";
}

.icon-uniE82B:before {
  content: "\e82b";
}

.icon-uniE82C:before {
  content: "\e82c";
}

.icon-uniE82D:before {
  content: "\e82d";
}

.icon-uniE82E:before {
  content: "\e82e";
}

.icon-uniE82F:before {
  content: "\e82f";
}

.icon-uniE830:before {
  content: "\e830";
}

.icon-uniE831:before {
  content: "\e831";
}

.icon-uniE832:before {
  content: "\e832";
}

.icon-uniE833:before {
  content: "\e833";
}

.icon-uniE834:before {
  content: "\e834";
}

.icon-uniE835:before {
  content: "\e835";
}

.icon-uniE836:before {
  content: "\e836";
}

.icon-uniE837:before {
  content: "\e837";
}



